.container,.form {
  margin: 10px;
}
.title {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.action {
  display: flex;
  min-height: 40px;
  justify-content: center;
  gap: 10px;
}
