<div class="outerContainer">
  @if (!isLoaded){
  <ng-container *ngTemplateOutlet="loading"></ng-container>
  } @if (isEmpty && isLoaded) {
  <ng-container *ngTemplateOutlet="noData"></ng-container>
  } @if (!isEmpty && isLoaded) {
  <ng-container *ngTemplateOutlet="table"></ng-container>
  }
</div>

<ng-template #table>
  <div class="table-container">
    @for (item of sortedData; track item.position) {
    <div class="item-container">
      <button
        class="edit-btn"
        matIconButton
        (click)="editElement(item)"
        aria-label="edit icon">
        <mat-icon>edit</mat-icon>
      </button>
      <div class="top">
        <span class="weight">{{item.weight.toString().substring(0,10)}}</span>
        <span class="position">{{item.position}}</span>
      </div>
      <div class="bottom">
        <div class="symbol-container">
          <span class="symbol">{{item.symbol}}</span>
        </div>
        <span class="name">{{item.name}}</span>
      </div>
    </div>
    }
  </div>
</ng-template>

<ng-template #loading>
  <div class="loading">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Loading...</p>
  </div>
</ng-template>

<ng-template #noData>
  <div class="no-data">
    <mat-icon>info</mat-icon>
    <p>No data available</p>
  </div>
</ng-template>
